{{#extend "html/template"}}
    {{#content "body"}}
        <main role="main">
            {{> partials/header }}
            <img class="home__map" src="img/Map.png" alt="">
            <div class="home__title -en">
                <h1 class="t-title">{{ site.title.en }}</h1>
                <p class="t-subtitle">{{ site.subtitle.en }}</p>
            </div>
            <div class="home__title -ar">
                <h1 class="t-title">{{ site.title.ar }}</h1>
                <p class="t-subtitle">{{ site.subtitle.ar }}</p>
            </div>
            <div class="home__ctaList">
                <div class="home__ctaItem">
                    <div class="a-cta">
                        {{ site.cta.en }}
                    </div>
                </div>
                <div class="home__ctaItem">
                    <div class="a-cta">
                        {{ site.cta.ar }}
                    </div>
                </div>
            </div>
        </main>
    {{/content}}
{{/extend}}
