{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--solutions">

  {{#> partials/header ourSolutions=true}}{{/partials/header}}

  {{#> partials/breadcrumb 
    currentPage=title
  }}
  {{/partials/breadcrumb}}

  <div class="mcam-layout-section mcam-layout-section--intro">
    <div class="mcam-layout-section__inner">
      <div class="section-intro">
        <div class="section-intro__left">
          <h1 class="mcam-headline-1">{{ title }}</h1>
        </div>
        <div class="section-intro__right">
          <p class="mcam-body-text">
            Mitsubishi Chemical Advanced Materials is the leader in Engineered Solutions to the compressor and pump market. We
            engage in material selection, designing, prototyping, providing advanced polymer stock shapes as well as finished part
            solutions.<br>
            <br>
            Our technical service team will find the right solution for you.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--solutions">
    <div class="mcam-layout-section__inner">
      <div class="section-solutions-big">
        {{#each ourSolutions}}
        <a href="/our-solutions/{{ url }}.html" class="card-solution-big">
          <div class="card-solution-big__content">
            <p class="card-solution-big__title">{{ thumbnailTitle }}</p>
            <ul class="card-solution-big__tick">
              {{#each thumbnailDescription}}
              <li>
                <svg class="icon icon-check">
                  <use xlink:href="/symbol-defs.svg#icon-check"></use>
                </svg>
                {{item}}
              </li>
              {{/each}}
            </ul>
            <p class="card-solution-big__icon mcam-cta-icon">
              <svg class="mcam-cta-icon__icon icon icon-arrow">
                <use xlink:href="/symbol-defs.svg#icon-arrow"></use>
              </svg>
              <span class="mcam-cta-icon__link">Discover more</span>
            </p>
          </div>
          <picture class="card-solution-big__picture">
            <img src="/img/{{ img }}.jpg" alt="">
          </picture>
        </a>
        {{/each}}
      </div>
    </div>
  </div>

  {{#> partials/whitepaper}}{{/partials/whitepaper}}

  {{#> partials/newsletter}}{{/partials/newsletter}}

  {{#> partials/footer}}{{/partials/footer}}
  
</body>
</html>