{{#> ./../partials/html-header }}{{/./../partials/html-header}}

<body class="page page--application page--application3">

  {{#> ./../partials/header}}{{/./../partials/header}}

  {{#> ./../partials/breadcrumb 
    parentUrl="our-applications" 
    parentPage="Our Applications" 
    currentPage=title
  }}
  {{/./../partials/breadcrumb}}

  <div class="section section--intro">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="section-article">
        <div class="section-article__head">
          <p class="mcam-button">Know more about...</p>
          <h1 class="section-article__title mcam-headline-1">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section section--content">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="section-article__content">
        <p class="mcam-body-text">
          <strong>Kyron™ BP Resin</strong><br>
          <br>
          The Ideal Choice for Hydraulic Fracturing<br>
          <br>
          Kyron™ BP is a biodegradable polymer that offers much higher mechanical strength than other traditional polymers like
          PEEK and nylon. The unique mechanical properties of BP coupled with the advanced polymer processing and machining
          technologies developed by Mitsubishi Chemical Advanced Materials – Engineered Solutions results in cost effective
          dissolve components for your designs.<br>
          <br>
          Kyron™ BP Resin in the Oil & Gas Industry<br>
          <br>
          he time and cost associated with well completion has increased in association with number of stages now being used in
          hydraulic fracturing. Kyron™ BP resin is designed to eliminate the time consuming milling-out process of downhole tools
          for multistage fracturing after use.<br>
          <br>
          Kyron™ BP resin is used in the hydraulic fracturing process of shale reservoirs because of its ability to with stand
          extreme environments and is the material of choice for components of degradable downhole tools including frac plugs, and
          other downhole complements
        </p>
        <img src="/img/applications/3-image-1.jpg" alt="">
        <p class="mcam-body-text"><strong>Kyron™ BP Biodegradable Polymer Benefits</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Optimized for well bore applications and designed to degrade within 80-350°F environments
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Offers higher mechanical strengths than PEEK or nylon
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Dissolves at predictable rates in the presence of down hole conditions
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Easily machined into complex shapes and sizes.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Saves money by eliminating drill-outs
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Used for zone isolation tools
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Predictable mechanical and dissolution performance
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Consistent properties without the worry of directional performance issues
          </li>
        </ul>
        <img src="/img/applications/3-image-2.jpg" alt="">
        <img src="/img/applications/3-image-3.jpg" alt="">
        <img src="/img/applications/3-image-4.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="section section--getintouch">
    {{#> ./../partials/get-in-touch}}{{/./../partials/get-in-touch}}
  </div>

  <div class="section section--related">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="section-related">
        <h3 class="section-related__title mcam-headline-2">Also take a look at</h3>
        <div class="section-related__items">
          {{#each otherApplications}}
          <div class="section-related__item card-application">
            <a href="/our-applications/{{ url }}.html">
              <picture class="card-application__picture">
                <img src="/img/{{ img }}.jpg" alt="">
              </picture>
              <div class="card-application__content">
                <p class="card-application__title">{{ thumbnailTitle }}</p>
                <p class="card-application__description">{{ thumbnailDescription }}</p>
                <p class="card-application__icon mcam-cta-icon">
                  <svg class="icon icon-arrow">
                    <use xlink:href="/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <span class="mcam-cta-icon__link">See more</span>
                </p>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  {{#> ./../partials/newsletter}}{{/./../partials/newsletter}}

  {{#> ./../partials/footer}}{{/./../partials/footer}}

</body>

</html>