{{#> ./../partials/html-header }}{{/./../partials/html-header}}

<body class="page page--application page--application2">

  {{#> ./../partials/header}}{{/./../partials/header}}

  {{#> ./../partials/breadcrumb 
    parentUrl="our-applications" 
    parentPage="Our Applications" 
    currentPage=title
  }}
  {{/./../partials/breadcrumb}}

  <div class="section section--intro">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="section-article">
        <div class="section-article__head">
          <p class="mcam-button">Know more about...</p>
          <h1 class="section-article__title mcam-headline-1">{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section section--content">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="section-article__content">
        <p class="mcam-body-text">
        Mitsubishi Chemical Advanced Materials Poppets and Valve Plates - Highest performance polymer sealing components, used
        in valves of world-class industrial reciprocating compressors.
        <p class="mcam-body-text"><span class="mcam-body-text--title">Polymer Poppets</span> (Poppet Valves)</p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Engineered Solutions high-performance poppets reach billions of cycles before needing replacement–typically 30-50%
          longer lasting than other glass filled PEEK poppets
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Highest Speeds and Pressure Differentials - Our poppets can be used in higher speeds and higher-pressure differentials
          than the competition due to our advanced high-strength resins and processing techniques
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Industry leading strengthand toughness–customized high-performance materials –injection molded while completely
          eliminating porosity
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Excellent quality and consistency from poppet to poppet and batch to batch due to automated manufacturing processes
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Highly automated value stream = cost savings to customers
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Able to handle large volume capacities and meet stringent deadlines due to standardized processes and leading-edge
          manufacturing technology
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            100% manufactured in-house–able to accommodate more complex designs and tighter machining tolerances than our
          competition
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Can accommodate nearly any material requirements
          </li>
        </ul>
        <p class="mcam-body-text">
          <br>
          <br>
          Over 40% higher Tensile Strength than traditional glass filled PEEK<br>
          Highest properties at elevated temperatures and pressures.</p> 
        </p>
        <img src="/img/applications/2-image-1.jpg" alt="">
        <img src="/img/applications/2-image-2.jpg" alt="">
        <img src="/img/applications/2-image-3.jpg" alt="">
        <p class="mcam-body-text"><span class="mcam-body-text--title">Polymer Valve Plates (Plate Valves)</span></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Hundreds of Millions of Cycles before failure common - Billions of Cycles with the correct material specification and
          plate design
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Industry leading quality control
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Assemble your valves only ONE TIME with our valve plates
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Reduced wear on mating/contact components within valves
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Glass-filled PEEK and other high-end materials - the most technologically advanced portfolio of materials available –
          including the ability to customize material blends
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            “Low stress” Injection molding process yields plates with lowest residual stresses – In-house annealing ovens
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Largest diameter and the thickest cross section sizes available in the market today for injection molded valve plates
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Lowest leakage rates – In house digital leak tester to confirm critical leakage rates
          </li>
        </ul>
        <p class="mcam-body-text"><span class="mcam-body-text--title">Back Up Rings</span></p>
        <p class="mcam-body-text">
          <strong>Material</strong>
          <br>
          <strong><em>Ketron® 1000 PEEK</em></strong>
        </p>
        <ul class="mcam-body-list">
          <li>Temperature and chemical resistance ideal for valve components and process equipment.</li>
          <li>Industry standard for back-up Seals and many other advanced material applications.</li>
        </ul>
        <p class="mcam-body-text"><strong>Highlight of Application</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            High loads and temperatures
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Temperature stability
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Seal surface finish
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Wear resistance
          </li>
        </ul>
        <p class="mcam-body-text"><strong>Advantage of Mitsubishi Chemical Advanced Materials</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Material temperatures up to 480°F / 250°C
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            High resistance to fuels, lubrications and chemicals
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Available in tube
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Low deformation & torque
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Finished part Solution – Near Net Shapes, machining and moulded parts
          </li>
        </ul>
        <p class="mcam-body-text"><strong>Benefit for Customer</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Longer Life
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Cost Savings
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Better MTBR
          </li>
        </ul>
        <img src="/img/applications/2-image-4.jpg" alt="">
        <p class="mcam-body-text"><strong>Connectors</strong></p>
        <p class="mcam-body-text">
          With the “easy” oil and natural gas reserves already tapped, the energy industry has focused on finding oil and gas in
          many challenging production zones. These tougher to develop wells can expose sensitive electrical equipment and
          components to increased pressures, temperatures and aggressive chemistries. The electrical connectors in this equipment
          have to meet these tough demands and Mitsubishi Chemical Advanced Materials can support the thesedemands with
          engineering support,high-performance polymers development, high-performance thermoplastic shapes, machining services and
          injection molding services.<br>
          <br>
          As the traditional glass-reinforced thermosets used in connectors have taken a beating exhibiting cracking,
          de-lamination and chipping in these demanding applications, alternative materials are in demand. With the full line of
          Mitsubishi Chemical Advanced Materials, available to industry engineers, Ketron PEEK, Duratron PEI, Techtron PPS,
          Duratron PAI and Semitron offer engineering solutions.<br>
          <br>
        </p>
        <p class="mcam-body-text"><strong>Properties offered:</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            High Mechanical Properties Retention
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            High Dielectric and Dielectric Control
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Options-Great Solder Reflow Resistance
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Extremely Low Moisture Absorption
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Very Good Chemical Resistance
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Excellent Abrasion Resistance-Stock Shapes
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Standard Resins and Custom Compounded Resins Available
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="section section--getintouch">
    {{#> ./../partials/get-in-touch}}{{/./../partials/get-in-touch}}
  </div>

  <div class="section section--related">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="section-related">
        <h3 class="section-related__title mcam-headline-2">Also take a look at</h3>
        <div class="section-related__items">
          {{#each otherApplications}}
          <div class="section-related__item card-application">
            <picture class="card-application__picture">
              <img src="/img/{{ img }}.jpg" alt="">
            </picture>
            <picture class="card-application__content">
              <p class="card-application__title">{{ thumbnailTitle }}</p>
              <p class="card-application__description">{{ thumbnailDescription }}</p>
              <a href="/our-applications/{{ url }}.html" class="card-application__icon mcam-cta-icon">
                <svg class="icon icon-arrow">
                  <use xlink:href="/symbol-defs.svg#icon-arrow"></use>
                </svg>
                <span class="mcam-cta-icon__link">See more</span>
              </a>
            </picture>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  {{#> ./../partials/newsletter}}{{/./../partials/newsletter}}

  {{#> ./../partials/footer}}{{/./../partials/footer}}

</body>

</html>