{{#> ./../partials/html-header }}{{/./../partials/html-header}}

<body class="page page--application page--application2">

  {{#> ./../partials/header}}{{/./../partials/header}}

  {{#> ./../partials/breadcrumb 
    parentUrl="our-applications" 
    parentPage="Our Applications" 
    currentPage=title
  }}
  {{/./../partials/breadcrumb}}

  <div class="section section--intro">
    <div class="mcam-layout-section__inner">
      <div class="section-article">
        <div class="section-article__head">
          <p class="mcam-button">Know more about...</p>
          <h1 class="section-article__title mcam-headline-1">{{ title }}</h1>
          <p class="section-article__description mcam-body-text">
            Mitsubishi Chemical Advanced Materials provides the highest performance sealing components used in valves of world-class
            industrial reciprocating compressors.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section--content">
    <div class="mcam-layout-section__inner">
      <div class="section-article__content section-article__content--left">
        <p class="mcam-body-text"><span class="mcam-body-text--title">Polymer Poppets Improve Compressor Performance</span></p>
        <p class="mcam-body-text">
          By replacing metal poppets with Ketron® PEEK and Nylatron® PA66 based polymers, users see increased compressor
          efficiencies. In high volume usage, these materials can be injection molded and finished machined complete by Mitsubishi
          Chemical Advanced Materials. Custom components can be C.N.C machined from extruded and injection molded stock shapes.
          For increased tensile strength and stiffness, carbon fiber or glass fiber can be added to both PEEK and Nylon polymers.
          The reduction of gas and fluid leakage, lower noise levels, increased valve and mating part life along with long-term
          operating cost reductions combine to increase profits and reduce down time.
          Ketron® PEEK used in poppet applications offers many advantages:
        </p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Ketron® PEEK materials exhibit excellent resistance to a broad range of hydrocarbons, solvents and acids.
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Ketron® PEEK performs in extreme temperature continuously up to 500 degrees F (260 degrees C). Low thermal conductivity.
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Exceptional wear resistance to a rate of 2x as well as reduced wear on mating valve head components.
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Outstanding resistance to repetitive impact cracking and deformation.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Superior strength, stiffness, fatigue resistance and long-term properties retention at elevated temperatures and
            aggressive chemistry exposure.
          </li>
        </ul>
        <p class="mcam-body-text">
          <br>
          <br>
          Nylatron® PA66 used in poppet applications offers these advantages:</p> 
        </p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Nylatron® PA66 materials exhibit excellent resistance to a broad range of hydrocarbons, solvents and mild acids and
            hydrogen sulfide.
        </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Nylatron® PA66 performs in high temperatures continuously up to 210 degrees F. Low thermal conductivity.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            The good wear resistance of the Nylatron® PA666 poppet as well as reduced wear on mating valve head components.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Outstanding resistance to repetitive impact cracking and deformation.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Nylatron® PA66 offers a great value. Great performance at a competitive price.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Good strength, stiffness, fatigue resistance and long-term properties retention at high temperatures and mild chemistry
            exposure.
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Over 40% higher Tensile Strength than competitive glass filled PEEK
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Highest properties at elevated temperatures and pressures.
          </li>
        </ul>
        <img src="/img/applications/2-image-1.jpg" alt="">
        <p class="mcam-body-text"><span class="mcam-body-text--title">Polymer Valve Plates</span></p>
        <p class="mcam-body-text">A valve plate acts as a seal with different pressurized zones of a compressor. Mitsubishi Chemical Advanced Materials
        provides advanced polymer valve plates with the following advantages:</p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Hundreds of Millions of Cycles before failure common - Billions of Cycles with the correct material specification and
            plate design
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Industry leading quality control
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Assemble your valves only ONE TIME with our valve plates
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Reduced wear on mating/contact components within valves
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Glass-filled PEEK and other high-end materials - <em>the most technologically advanced portfolio of materials available</em> – including the ability to customize material blends
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            “Low stress” Injection molding process yields plates with lowest residual stresses – In-house annealing ovens
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Largest diameter and the thickest cross section sizes available in the market today for injection molded valve plates
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Lowest leakage rates – In house digital leak tester to confirm critical leakage rates
          </li>     
        </ul>
        <p class="mcam-body-text"><span class="mcam-body-text--title">Back Up Rings</span></p>
        <p class="mcam-body-text">A back up ring supports the seal in high pressure glands, which prevents extrusion. </p>
        <br>
        <p class="mcam-body-text">
          <strong>Material</strong>
          <br>
          <strong><em>Ketron® 1000 PEEK</em></strong>
        </p>
        <ul class="mcam-body-list">
          <li>Temperature and chemical resistance ideal for valve components and process equipment.</li>
          <li>Industry standard for back-up seals and many other advanced material applications.</li>
        </ul>
        <br>
        <p class="mcam-body-text"><strong>Highlight of Application</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            High pressure
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Temperature Stability
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Low creep
          </li>
        </ul>
        <p class="mcam-body-text"><strong>Advantage of Mitsubishi Chemical Advanced Materials</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Material temperatures up to 480°F / 250°C
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            High resistance to fuels, lubrications and chemicals
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Available in tube
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Low deformation & torque
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Finished part Solution – Near Net Shapes, machining and moulded parts
          </li>
        </ul>
        <p class="mcam-body-text"><strong>Benefit for Customer</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Longer Life
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Cost Savings
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Better MTBR
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Low Stress
          </li>
        </ul>
        <img src="/img/applications/2-image-4.jpg" alt="">
        <p class="mcam-body-text"><strong>Connectors</strong></p>
        <p class="mcam-body-text">
          The Energy Market continues to adjust their methods to locate oil and gas in many challenging areas. These wells are
          much tougher to develop along with challenges to find more economic and efficient production systems to drill for oil
          and gas. Many of these wells can expose sensitive electrical equipment and components to increased pressures,
          temperatures and aggressive chemicals. The electrical connectors in this equipment have to meet tougher demands;
          efficient and reliable data transfer at higher levels. Mitsubishi Chemical Advanced Materials can support these efforts
          with engineering support, high-performance materials, precision machining and unconventional injection molding services.<br>
          <br>
          Mitsubishi Chemical Advanced Materials has developed a new material named Ketron® ST to advance the current grades of
          materials used in the connector industry. This new grade of Ketron® ST performs well in deepwater high pressure/high
          temperature subsea applications. Ketron® ST specialty grade has a 20°C higher temperature range than conventional PEEK,
          better dielectric strength and a higher purity level of material.<br>
          <br>
        </p>
        <p class="mcam-body-text"><strong>Properties offered:</strong></p>
        <ul class="mcam-body-tick">
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Higher Pressure: mechanical strength and higher creep resistance
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Higher Dielectric Strength
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Higher temperature range: long term stability with no electrical or mechanical degradation (-40°C (-40°F) to >150°C
            (302°F))
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Extremely Low Moisture Absorption
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            Chemical Resistance: resilient in sour gas conditions, hydrocarbons, completion fluids
          </li>
          <li>
            <svg class="icon icon-check">
              <use xlink:href="/symbol-defs.svg#icon-check"></use>
            </svg>
            High Purity Level of Material
          </li>
        </ul>
      </div>
      <div class="section-article__content section-article__content--right">
        <div class="what-side">
          <p class="mcam-button">What our sealing components can offer you:</p>
          <ul class="mcam-body-tick">
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Over 40% higher tensile strength than glass filled PEEK
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Accomplished hundreds of millions of cycles before failure commons
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Industry standard for back up seals
            </li>
            <li>
              <svg class="icon icon-check">
                <use xlink:href="/symbol-defs.svg#icon-check"></use>
              </svg>
              Chemical Resistance: resilient in sour gas conditions, hydrocarbons, completion fluids
            </li>
          </ul>
          <a href="/no-url.html" class="mcam-cta">
            <span class="mcam-cta__link">Let’s get started</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section section--getintouch section--content">
    <div class="mcam-layout-section__inner">
      <div class="section-article__content section-article__content--left">
        {{#> ./../partials/get-in-touch}}{{/./../partials/get-in-touch}}
      </div>
    </div>
  </div>

  <div class="section section--related">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="section-related">
        <h3 class="section-related__title mcam-headline-2">Also take a look at</h3>
        <div class="section-related__items">
          {{#each otherApplications}}
          <div class="section-related__item card-application">
            <a href="/our-applications/{{ url }}.html">
              <picture class="card-application__picture">
                <img src="/img/{{ img }}.jpg" alt="">
              </picture>
              <div class="card-application__content">
                <p class="card-application__title">{{ thumbnailTitle }}</p>
                <p class="card-application__description">{{ thumbnailDescription }}</p>
                <p class="card-application__icon mcam-cta-icon">
                  <svg class="icon icon-arrow">
                    <use xlink:href="/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <span class="mcam-cta-icon__link">See more</span>
                </p>
              </div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  {{#> ./../partials/newsletter}}{{/./../partials/newsletter}}

  {{#> ./../partials/footer}}{{/./../partials/footer}}

</body>

</html>