{{#> ./../partials/html-header }}{{/./../partials/html-header}}

  <body class="page page--application page--application1">

    {{#> ./../partials/header}}{{/./../partials/header}}

    {{#> ./../partials/breadcrumb 
      parentUrl="our-applications" 
      parentPage="Our Applications" 
      currentPage=title
    }}
    {{/./../partials/breadcrumb}}

    <div class="section section--intro">
      <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
        <div class="section-article">
          <div class="section-article__head">
            <p class="mcam-button">Know more about...</p>
            <h1 class="section-article__title mcam-headline-1">{{ title }}</h1>
          </div>
        </div>
      </div>
    </div>
    
    <div class="section section--content">
      <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
        <div class="section-article__content">
          <p class="mcam-body-text">
            Petroleum containing higher levels of sulfur is called sour crude oil. Sweet crude oil contains small amounts of
            hydrogen sulfide and carbon dioxide. High-quality, low-sulfur crude oil is commonly used for processing into gasoline
            and is in high demand, particularly with heavy processing-global producers.<br>
            <br>
            Inside of the past 10 years, exploration and production companies in both North America and Europe have developed newer
            technologies to extract fossil fuels in deeper elevations of the subsea floor. These formations are producing higher
            temperatures and pressures (HTHP) with elevated concentrations of Hydrogen sulfide (H2S).<br>
            <br>
            Typical wells are producing fossil fluids with a highly corrosive and abrasive content indicating < 10% of hydrogen
            sulfide. MCAM, a leader in engineered thermoplastics for the energy market has been supporting this industry with
            engineered thermoplastics such as Ketron® Peek which has been tested to meet the regulatory conditons set forth by
            NORSOK M-710, in a multi-phase liquid combination.
          </p>
          <img src="/img/applications/Rectangle.jpg" alt="">
          <p class="mcam-body-text">
            <strong>MCAM’s material solution for corrosive environments</strong><br>
            <br>
            <em>Fluorosint® 500 – Used as an abradeable seal, most commonly applied in “Tooth on Rotor” designs
            Ketron® Peek – Applied in Compressors with “Tooth on Stator” used in higher temperature, and those units with critical
            speeds</em><br>
            <br>
            In the above picture, the upper seal has degraded from service in a corrosive environment and the teeth are slightly
            mushroomed. Due to direct impact, which does not deflect back to original position causing a larger radical clearance
            and increased flow path that delivers insufficient performance. The lower seal is a metal labyrinth seal, is a PEEK seal
            where teeth deflect under contact or rubbing condition. Rebound to the original position to continue operating and
            improving compressor efficiency with a restricted flow path.
          </p>
          <img src="/img/applications/image 2.jpg" alt="">
          <p class="mcam-body-text">
            Recently, the energy market has seen further increase in H2S levels >10% up to 35% by concentration. MCAM is continuing its R&D efforts to develop new Ketron® Peek grades to meet the industry challenge and complete the testing required per NORSOK M-710 and the upcoming ISO 23936-2 specification for elevated levels of sulfur in sour crude as a replacement of metal labyrinth seals which are chemically attacked signaling  poor and insufficent compressor performance in the industry.
          </p>
        </div>
      </div>
    </div>

    <div class="section section--products">
      <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
        <div class="section-products">
          <p class="section-products__title mcam-headline-2">Most Commonly Used</p>
          <div class="mcam-card-product">
            <a class="mcam-block-product">
              <picture class="mcam-card-product__picture">
                <img data-src="/img/products/Ketron-1000-PEEK.jpg" class="lazy" alt="1000 PEEK" />
              </picture>
              <div class="mcam-card-product__content">
                <div class="mcam-block-tag">Ketron®</div>
                <p class="mcam-card-product__content-title">1000 PEEK</p>
                <p class="mcam-card-product__content-description">Produced from virgin PEEK resin</p>
              </div>
              <div class="mcam-card-product__bottom">
                <svg class="icon icon-waves4">
                  <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
                </svg>
                <hr>
                <span>
                  249°C<br>
                  110 MPa at 23°C
                </span>
              </div>
              <div class="mcam-block-tooltip">
                <span class="mcam-block-tooltip__text">
                  Max. allowable temp. in air (°C)<br>
                  Tensile strength (MPa)
                </span>
              </div>
            </a>
            <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=53b9159c018544a599a06726922c9b8e"
              class="mcam-card-product__bottom-download" target="_new">
              <svg class="icon icon-download">
                <use xlink:href="/symbol-defs.svg#icon-download"></use>
              </svg>
            </a>
            <div class="mcam-block-tooltip">
              <span class="mcam-block-tooltip__text">
                Download data sheet
              </span>
            </div>
          </div>
          <div class="mcam-card-product high-temperature-range chemical-resistance">
            <a class="mcam-block-product">
              <picture class="mcam-card-product__picture">
                <img data-src="/img/products/QEPP_Duratron_CU60_PBI_RodSheet_Black.jpg" class="lazy" alt="CU60 PBI" />
              </picture>
              <div class="mcam-card-product__content">
                <div class="mcam-block-tag">Duratron®</div>
                <p class="mcam-card-product__content-title">CU60 PBI</p>
                <p class="mcam-card-product__content-description">Unfilled PBI</p>
              </div>
              <div class="mcam-card-product__bottom">
                <svg class="icon icon-waves4">
                  <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
                </svg>
                <hr>
                <span>
                  316°C<br>
                  110 MPa at 23°C
                </span>
              </div>
              <div class="mcam-block-tooltip">
                <span class="mcam-block-tooltip__text">
                  Max. allowable temp. in air (°C)<br>
                  Tensile strength (MPa)
                </span>
              </div>
            </a>
            <a href="http://www.matweb.com/search/datasheet_PDF_quadrant.aspx?MatGUID=0b5b8eb71f444db8a3d7b23df6db0782"
              class="mcam-card-product__bottom-download" target="_new">
              <svg class="icon icon-download">
                <use xlink:href="/symbol-defs.svg#icon-download"></use>
              </svg>
            </a>
            <div class="mcam-block-tooltip">
              <span class="mcam-block-tooltip__text">
                Download data sheet
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section section--getintouch">
      {{#> ./../partials/get-in-touch}}{{/./../partials/get-in-touch}}
    </div>

    <div class="section section--related">
      <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
        <div class="section-related">
          <h3 class="section-related__title mcam-headline-2">Also take a look at</h3>
          <div class="section-related__items">
            {{#each otherApplications}}
            <div class="section-related__item card-application">
              <picture class="card-application__picture">
                <img src="/img/{{ img }}.jpg" alt="">
              </picture>
              <picture class="card-application__content">
                <p class="card-application__title">{{ thumbnailTitle }}</p>
                <p class="card-application__description">{{ thumbnailDescription }}</p>
                <a href="/our-applications/{{ url }}.html" class="card-application__icon mcam-cta-icon">
                  <svg class="icon icon-arrow">
                    <use xlink:href="/symbol-defs.svg#icon-arrow"></use>
                  </svg>
                  <span class="mcam-cta-icon__link">See more</span>
                </a>
              </picture>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    {{#> ./../partials/newsletter}}{{/./../partials/newsletter}}

    {{#> ./../partials/footer}}{{/./../partials/footer}}
    
  </body>
  
</html>