
{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--stories">

  {{#> partials/header clientStories=true}}{{/partials/header}}

  <div class="mcam-layout-section mcam-layout-section--intro">
    <div class="mcam-layout-section__inner">
      <p class="mcam-headline-1">Our client stories</p>
      <div class="mcam-section-newsbig">
        {{#each articles}}
        <div class="mcam-card-newsbig">
          <picture class="mcam-card-newsbig__picture">
            <source data-srcset="/img/{{ img }}-mobile.jpg" media="(max-width: 767px)">
            <source data-srcset="/img/{{ img }}-tablet.jpg" media="(max-width: 1023px)">
            <img data-src="/img/{{ img }}-desktop.jpg" class="lazy" alt="" />
          </picture>
          <div class="mcam-card-newsbig__content">
            <p class="mcam-card-newsbig__content-title mcam-headline-2">{{ title }}</p>
            <div class="mcam-block-author">
              <picture class="mcam-block-author__photo">
                <img data-src="/img/{{ authorImg }}" class="lazy" alt="">
              </picture>
              <span class="mcam-block-author__name">{{ authorName }}</span>
              <span class="mcam-block-author__job">{{ authorJob }}</span>
            </div>
            <a href="/client-stories/{{url}}.html" class="mcam-cta">
              <span class="mcam-cta__link">Read the story</span>
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{#> partials/contact-form}}{{/partials/contact-form}}
  
  {{#> partials/footer}}{{/partials/footer}}
  
</body>
</html>