
{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--home">

  {{#> partials/header home=true clientStories=false ourSolutions=false}}{{/partials/header}}

  <div class="mcam-layout-section mcam-layout-section--slider">
    <div class="mcam-section-homeslider">
      <div class="mcam-section-homeslider__left">
        <div class="mcam-section-homeslider__titles">
          {{#each clientStories}}
          <div class="mcam-section-homeslider__title">
            <p class="mcam-headline-1">{{ title }}</p>
            <a href="/client-stories/{{ url }}.html" class="mcam-cta">
              <span class="mcam-cta__link">Read the story</span>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="mcam-section-homeslider__right">
        <div class="mcam-section-homeslider__slider">
          <div class="mcam-section-homeslider__list">
            {{#each clientStories}}
            <div class="mcam-section-homeslider__item">
              <picture>
                <source srcset="/img/{{ img }}-mobile.jpg" media="(max-width: 640px)">
                <img src="/img/{{ img }}-desktop.jpg" />
              </picture>
            </div>
            {{/each}}
          </div>
          <div class="mcam-section-homeslider__bullets">
            <div class="mcam-section-homeslider__bullet active">
              <div class="progress">
                <span></span>
              </div>
              <span>01</span>
              Longer mean time between repairs
            </div>
            <div class="mcam-section-homeslider__bullet">
              <div class="progress">
                <span></span>
              </div>
              <span>02</span>
              Increased Productiviy
            </div>
            <div class="mcam-section-homeslider__bullet">
              <div class="progress">
                <span></span>
              </div>
              <span>03</span>
              Corrosion Resistance
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--textoverlay">
    <div class="mcam-layout-section__inner">
      <p class="mcam-layout-section__title mcam-button">What we do</p>
      <div class="mcam-block-textoverlay" data-aos="zoom-out" data-aos-delay="200" data-aos-easing="easeInOutExpo" data-aos-offset="0" data-aos-duration="600" data-aos-once="true">
        We provide advanced engineered plastic solutions for Oil & Gas compressors and pumps in extreme environments.
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--filters">
    <p class="mcam-layout-section__title mcam-button">What requirements do you need ?</p>
    <div class="mcam-section-homefilters">
      <div class="mcam-card-filter" data-aos="fade-up" data-aos-delay="0" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">
        <a href="/our-solutions.html#high-temperature-range">
          <picture class="mcam-card-filter__picture">
            <source srcset="/img/home-filter-1-mobile.jpg" media="(max-width: 640px)">
            <source srcset="/img/home-filter-1-tablet.jpg" media="(max-width: 1024px)">
            <img src="/img/home-filter-1-desktop.jpg" />
          </picture>
          <svg class="mcam-card-filter__icon icon icon-waves4">
            <use xlink:href="/symbol-defs.svg#icon-waves4"></use>
          </svg>
          <p class="mcam-card-filter__title">High Temperature High Pressure (HTHP)</p>
        </a>
      </div>
      <div class="mcam-card-filter" data-aos="fade-up" data-aos-delay="200" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">
        <a href="/our-solutions.html#chemical-resistance">
          <picture class="mcam-card-filter__picture">
            <source srcset="/img/home-filter-2-mobile.jpg" media="(max-width: 640px)">
            <source srcset="/img/home-filter-2-tablet.jpg" media="(max-width: 1024px)">
            <img src="/img/home-filter-2-desktop.jpg" />
          </picture>
          <svg class="mcam-card-filter__icon icon icon-waves4">
            <use xlink:href="/symbol-defs.svg#icon-waves5"></use>
          </svg>
          <p class="mcam-card-filter__title">Chemical Resistance</p>
        </a>
      </div>
      <div class="mcam-card-filter" data-aos="fade-up" data-aos-delay="400" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">
        <a href="/our-solutions.html#clearance">
          <picture class="mcam-card-filter__picture">
            <source srcset="/img/home-filter-3-mobile.jpg" media="(max-width: 640px)">
            <source srcset="/img/home-filter-3-tablet.jpg" media="(max-width: 1024px)">
            <img src="/img/home-filter-3-desktop.jpg" />
          </picture>
          <svg class="mcam-card-filter__icon icon icon-waves4">
            <use xlink:href="/symbol-defs.svg#icon-waves3"></use>
          </svg>
          <p class="mcam-card-filter__title">Clearance</p>
        </a>
      </div>
    </div>
    <a href="/our-solutions.html" class="mcam-cta">
      <span class="mcam-cta__link">DISCOVER OUR COMPRESSORS AND PUMPS SOLUTIONS</span>
    </a>
  </div>

  <div class="mcam-layout-section mcam-layout-section--certif">
    <div class="mcam-layout-section__inner">
      <div class="mcam-block-certif">
        <div class="mcam-"></div>
        <div class="mcam-block-certif__logos">
          <img src="/img/logo1.jpg" data-aos="fade-right" data-aos-easing="easeInOutExpo" data-aos-duration="600" alt="">
          <img src="/img/logo2.jpg" data-aos="fade-left" data-aos-easing="easeInOutExpo" data-aos-duration="600" alt="">
        </div>
        <p class="mcam-block-certif__text">Mitsubishi Chemical Advanced Materials was the world’s FIRST to earn NORSOK M-710 compliance and provides the most
        accurate and reliable data on their stock shapes.The NORSOK M-710 specification was developed by the Norwegian petroleum
        industry to ensure sufficient understanding and experience of oil and gas materials. It specifies a test procedure to
        predict the progressive degradation of thermoplastic materials exposed to a sour fluid at elevated pressure and
        temperature over an extended period of time.</p>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--keynumbers">
    <div class="mcam-section-keynumbers">
      <picture class="mcam-section-keynumbers__background">
        <img src="/img/03_Key_Numbers.jpg" alt="">
      </picture>
      <div class="mcam-section-keynumbers__content">
        <p class="mcam-layout-section__title mcam-button">Key numbers</p>
        <p class="mcam-section-keynumbers__title">Did you know?</p>
        <div class="mcam-section-keynumbers__items">
          <div class="mcam-section-keynumbers__item">
            <span class="mcam-section-keynumbers__item-number mcam-key" data-aos="fade-down" data-aos-delay="0" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">2-3x</span>
            <p class="mcam-section-keynumbers__item-text" data-aos="fade-up" data-aos-delay="0" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">longer mean time<br>between repairs</p>
          </div>
          <div class="mcam-section-keynumbers__item">
            <span class="mcam-section-keynumbers__item-number mcam-key" data-aos="fade-down" data-aos-delay="200" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">1-3%</span>
            <p class="mcam-section-keynumbers__item-text" data-aos="fade-up" data-aos-delay="200" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">increase in compressor<br>performance</p>
          </div>
          <div class="mcam-section-keynumbers__item">
            <span class="mcam-section-keynumbers__item-number mcam-key" data-aos="fade-down" data-aos-delay="400" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">Up to 50%</span>
            <p class="mcam-section-keynumbers__item-text" data-aos="fade-up" data-aos-delay="400" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">less clearance than API<br>approved metal</p>
          </div>
        </div>
        <a href="/contact.html" target="_new" class="mcam-cta">
          <span class="mcam-cta__link">Click Here to Find Out More</span>
        </a>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--map">
    <div class="mcam-section-map">
      <div class="mcam-layout-section__inner">
        <p class="mcam-layout-section__title mcam-button">We are almost everywhere</p>
        <p class="mcam-section-map__title mcam-headline-2">Mitsubishi Chemical Advanced Materials locations around the world</p>
        <div class="mcam-section-map__content" data-aos="zoom-in" data-aos-delay="0" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-once="true">
          <img src="/img/map.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--news">
    <div class="mcam-section-news">
      <div class="mcam-section-news__content">
        <p class="mcam-layout-section__title mcam-button">They talk about us</p>
        <p class="mcam-section-news__title">Latest news</p>
        <div class="mcam-section-news__items">
          {{#each articles}}
          <div class="mcam-card-news" data-aos="fade-up" data-aos-delay="{{@index}}00" data-aos-easing="easeInOutExpo" data-aos-duration="600" data-aos-offset="200" data-aos-once="true">
            <a href="/articles/{{ url }}.html">
              <picture class="mcam-card-news__picture">
                <source srcset="/img/{{ thumbnail }}-mobile.jpg" media="(max-width: 767px)">
                <img src="/img/{{ thumbnail }}-desktop.jpg" />
              </picture>
            </a>
            <div class="mcam-card-news__content">
              <p class="mcam-card-news__content-date">{{ date }}</p>
              <a href="/articles/{{ url }}.html">
                <p class="mcam-card-news__content-title">{{ title }}</p>
              </a>
            </div>
            <a href="/articles/{{ url }}.html" class="mcam-cta-icon">
              <svg class="icon icon-chevron">
                <use xlink:href="/symbol-defs.svg#icon-chevron"></use>
              </svg>
              <span class="mcam-cta-icon__link">Read the article</span>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  {{#> partials/newsletter}}{{/partials/newsletter}}

  {{#> partials/footer}}{{/partials/footer}}
  
</body>
</html>