<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache"/>
  <meta http-equiv="pragma" content="no-cache"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body class="mcam-page mcam-page--home">

  {{#> partials/header home=true}}{{/partials/header}}

  <div class="mcam-layout-section mcam-layout-section--slider">
    <div class="mcam-section-homeslider">
      <div class="mcam-section-homeslider__left">
        <p class="mcam-headline-1">We helped a leading OEM significantly increase their mean time between repair (MTBR)</p>
        <a href="/contact.html" class="mcam-cta">
          <span class="mcam-cta__link">Read the story</span>
        </a>
      </div>
      <div class="mcam-section-homeslider__right">
        <div class="mcam-section-homeslider__slider">
          <div class="mcam-section-homeslider__list">
            <div class="mcam-section-homeslider__item active">
              <picture>
                <source srcset="/img/home-slider-1-640.jpg" media="(max-width: 640px)">
                <source srcset="/img/home-slider-1-1024.jpg" media="(max-width: 1024px)">
                <img src="/img/home-slider-1-1110.jpg" />
              </picture>
            </div>
            <div class="mcam-section-homeslider__item">
              <picture>
                <source srcset="/img/home-slider-2-640.jpg" media="(max-width: 640px)">
                <source srcset="/img/home-slider-2-1024.jpg" media="(max-width: 1024px)">
                <img src="/img/home-slider-2-1110.jpg" />
              </picture>
            </div>
            <div class="mcam-section-homeslider__item">
              <picture>
                <source srcset="/img/home-slider-3-640.jpg" media="(max-width: 640px)">
                <source srcset="/img/home-slider-3-1024.jpg" media="(max-width: 1024px)">
                <img src="/img/home-slider-3-1110.jpg" />
              </picture>
            </div>
          </div>
          <div class="mcam-section-homeslider__bullets">
            <div class="mcam-section-homeslider__bullet active">
              <div class="progress">
                <span></span>
              </div>
              <span>01</span>
              Longer mean time between repairs
            </div>
            <div class="mcam-section-homeslider__bullet">
              <div class="progress">
                <span></span>
              </div>
              <span>02</span>
              Increased Productiviy
            </div>
            <div class="mcam-section-homeslider__bullet">
              <div class="progress">
                <span></span>
              </div>
              <span>03</span>
              Corrosion Resistance
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--textoverlay">
    <div class="mcam-layout-section__inner">
      <p class="mcam-layout-section__title mcam-button">What we do</p>
      <div class="mcam-block-textoverlay">
        We provide advanced engineered plastic solutions for Oil & Gas compressors and pumps in extreme environments.
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--filters">
    <p class="mcam-layout-section__title mcam-button">What requirements do you need ?</p>
    <div class="mcam-section-homefilters">
      <div class="mcam-card-filter">
        <a href="/our-solutions.html#high-temperature-range">
          <picture class="mcam-card-filter__picture">
            <source srcset="/img/home-filter-1-mobile.jpg" media="(max-width: 640px)">
            <source srcset="/img/home-filter-1-tablet.jpg" media="(max-width: 1024px)">
            <img src="/img/home-filter-1-desktop.jpg" />
          </picture>
          <svg class="mcam-card-filter__icon icon icon-waves4">
            <use xlink:href="symbol-defs.svg#icon-waves4"></use>
          </svg>
          <p class="mcam-card-filter__title">High TEMPERATURE RANGE</p>
        </a>
      </div>
      <div class="mcam-card-filter">
        <a href="/our-solutions.html#chemical-resistance">
          <picture class="mcam-card-filter__picture">
            <source srcset="/img/home-filter-2-mobile.jpg" media="(max-width: 640px)">
            <source srcset="/img/home-filter-2-tablet.jpg" media="(max-width: 1024px)">
            <img src="/img/home-filter-2-desktop.jpg" />
          </picture>
          <svg class="mcam-card-filter__icon icon icon-waves4">
            <use xlink:href="symbol-defs.svg#icon-waves5"></use>
          </svg>
          <p class="mcam-card-filter__title">Chemical Resistance</p>
        </a>
      </div>
      <div class="mcam-card-filter">
        <a href="/our-solutions.html#clearance">
          <picture class="mcam-card-filter__picture">
            <source srcset="/img/home-filter-3-mobile.jpg" media="(max-width: 640px)">
            <source srcset="/img/home-filter-3-tablet.jpg" media="(max-width: 1024px)">
            <img src="/img/home-filter-3-desktop.jpg" />
          </picture>
          <svg class="mcam-card-filter__icon icon icon-waves4">
            <use xlink:href="symbol-defs.svg#icon-waves3"></use>
          </svg>
          <p class="mcam-card-filter__title">Clearance</p>
        </a>
      </div>
    </div>
    <a href="/contact.html" class="mcam-cta">
      <span class="mcam-cta__link">DISCOVER OUR COMPRESSORS AND PUMPS SOLUTIONS</span>
    </a>
  </div>

  <div class="mcam-layout-section mcam-layout-section--certif">
    <div class="mcam-layout-section__inner">
      <div class="mcam-block-certif">
        <div class="mcam-"></div>
        <div class="mcam-block-certif__logos">
          <img src="/img/logo1.jpg" alt="">
          <img src="/img/logo2.jpg" alt="">
        </div>
        <p class="mcam-block-certif__text">Mitsubishi Chemical Advanced Materials was the world’s FIRST to earn NORSOK M-710 compliance and provides the most
        accurate and reliable data on their stock shapes.The NORSOK M-710 specification was developed by the Norwegian petroleum
        industry to ensure sufficient understanding and experience of oil and gas materials. It specifies a test procedure to
        predict the progressive degradation of thermoplastic materials exposed to a sour fluid at elevated pressure and
        temperature over an extended period of time.</p>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--keynumbers">
    <div class="mcam-section-keynumbers">
      <picture class="mcam-section-keynumbers__background">
        <img src="/img/03_Key_Numbers.jpg" alt="">
      </picture>
      <div class="mcam-section-keynumbers__content">
        <p class="mcam-layout-section__title mcam-button">Key numbers</p>
        <p class="mcam-section-keynumbers__title">Did you know?</p>
        <div class="mcam-section-keynumbers__items">
          <div class="mcam-section-keynumbers__item">
            <span class="mcam-section-keynumbers__item-number mcam-key">2-3x</span>
            <p class="mcam-section-keynumbers__item-text">longer mean time<br>between repairs</p>
          </div>
          <div class="mcam-section-keynumbers__item">
            <span class="mcam-section-keynumbers__item-number mcam-key">1-3%</span>
            <p class="mcam-section-keynumbers__item-text">increase in compressor<br>performance</p>
          </div>
          <div class="mcam-section-keynumbers__item">
            <span class="mcam-section-keynumbers__item-number mcam-key">Up to 50%</span>
            <p class="mcam-section-keynumbers__item-text">less clearance than API<br>approved metal</p>
          </div>
        </div>
        <a href="/files/METS2Lecture6_Duratron Labby.pdf" target="_new" class="mcam-cta">
          <span class="mcam-cta__link">Click Here to Find Out More</span>
        </a>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--map">
    <div class="mcam-section-map">
      <div class="mcam-layout-section__inner">
        <p class="mcam-layout-section__title mcam-button">We are almost everywhere</p>
        <p class="mcam-section-map__title mcam-headline-2">Mitsubishi Chemical Advanced Materials locations around the world</p>
        <div class="mcam-section-map__content">
          <img src="/img/map.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--news">
    <div class="mcam-section-news">
      <div class="mcam-section-news__content">
        <p class="mcam-layout-section__title mcam-button">They talk about us</p>
        <p class="mcam-section-news__title">Trending news</p>
        <div class="mcam-section-news__items">
          {{#each articles}}
          <div class="mcam-card-news">
            <a href="/articles/{{ url }}.html">
              <picture class="mcam-card-news__picture">
                <source srcset="/img/{{ thumbnail }}-mobile.jpg" media="(max-width: 767px)">
                <img src="/img/{{ thumbnail }}-desktop.jpg" />
              </picture>
            </a>
            <div class="mcam-card-news__content">
              <p class="mcam-card-news__content-date">{{ date }}</p>
              <a href="/articles/{{ url }}.html">
                <p class="mcam-card-news__content-title">{{ title }}</p>
              </a>
            </div>
            <a href="/articles/{{ url }}.html" class="mcam-cta-icon">
              <svg class="icon icon-chevron">
                <use xlink:href="symbol-defs.svg#icon-chevron"></use>
              </svg>
              <span class="mcam-cta-icon__link">Read the article</span>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>

  {{#> partials/newsletter}}{{/partials/newsletter}}

  {{#> partials/footer}}{{/partials/footer}}
  
</body>
</html>