<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width,user-scalable=0,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>

<body class="mcam-page mcam-page--story mcam-page--story1">

  <header class="mcam-layout-header">
    <div class="mcam-layout-header__inner">
      <a href="/" class="mcam-layout-header__logo">
        <img src="./img/logo_mcam.svg" alt="Logo MCAM">
      </a>
      <nav class="mcam-layout-header__nav">
        <a href="/" class="mcam-layout-header__item">Home</a>
        <a href="/client-stories.html" class="mcam-layout-header__item active">Client Stories</a>
        <a href="/our-solutions.html" class="mcam-layout-header__item">Our Solutions</a>
        <a href="/contact.html" class="mcam-cta">
          <span class="mcam-cta__link">Contact us</span>
        </a>
      </nav>
    </div>
  </header>

  <div class="mcam-layout-section mcam-layout-section--intro">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="mcam-section-article">
        <div class="mcam-section-article__head">{{ date }}</div>
        <h1 class="mcam-section-article__title mcam-headline-1">{{ title }}</h1>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--image">
    <div class="mcam-layout-section__inner">
      <picture>
        <source srcset="./img/{{ img }}-mobile.jpg" media="(max-width: 639px)">
        <source srcset="./img/{{ img }}-tablet.jpg" media="(max-width: 767px)">
        <img src="./img/{{ img }}-desktop.jpg" />
      </picture>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--content">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="mcam-section-article__content">
        <p class="mcam-body-text">
          Mitsubishi Chemical Advanced Materials, the leading global manufacturer of high-performance thermoplastic materials,
          announces the acquisition of Advanced Polymer Technologies (APT), June 3, 2019.<br>
          <br>
          Reading, PA -<br>
          <br>
          With the addition of Advanced Polymer Technologies, both companies can capitalize on their synergies in the engineering
          polymer industry especially focused on state of the art injection molding, extrusion technologies and service.
          Mitsubishi Chemical Advanced Materials world-wide network of industry partners and customer relationships will benefit
          from the support while bringing new technologies, specialized skills and market expertise into the group.<br>
          <br>
          Michael Koch, CEO of Mitsubishi Chemical Advanced Materials said “The acquisition enhances our ability to incubate and
          develop new solutions for the customer, pursuing our mission of metal to plastic conversion, which began more than 80
          years ago. Mitsubishi Chemical Advanced Materials, a fully owned subsidiary of Mitsubishi Chemical Corporation (Tokyo,
          Japan), identified Advanced Polymer Technologies as leaders in their areas of expertise and plans to preserve Advanced
          Polymer Technologies unique market identity. Strategic corporate development activities, such as the Advanced Polymer
          Technologies acquisition, contribute to Mitsubishi Chemical Advanced Materials ability to grow rapidly and consistently
          while maintaining quality and innovation.<br>
          <br>
          For more than 17 years, Advanced Polymer Technologies has excelled at providing advanced engineering plastic solutions
          via unique polymer conversion technologies to strategic global influencers in North America and Asia in the
          Semiconductor, Aerospace/Defense, Energy and Medical industries.<br>
          <br>
          Both Mitsubishi Chemical Advanced Materials and Advanced Polymer Technologies adhere to a superior level of quality and
          performance standards. The acquisition will add one additional manufacturing facility to Mitsubishi Chemical Advanced
          Materials’ already established seven U.S. facilities, enhancing their North American footprint.<br>
          <br>
          “APT has an impressive history of servicing the current and emerging market needs for several advanced engineering
          grades of thermoplastics. This, coupled with their high level of quality and service, will enhance our goal to be an
          agile, customer-focused manufacturer. These capabilities are essential to our mission and will add tremendous value for
          Mitsubishi Chemical Advanced Materials and our stakeholders.” said Bernie Willms, Mitsubishi Chemical Advanced Materials
          President Americas.<br>
          <br>
          “Over the past 17 years, APT has invested in new technologies and innovations in order to develop unique materials and
          processes. Joining Mitsubishi Chemical Advanced Materials will allow us to expand our product portfolio, and continue to
          deliver fast and efficient services on a global scale. We are excited to merge our existing team with the experts at
          Mitsubishi Chemical Advanced Materials.” said Steve Kessler, President and CEO Advanced Polymer Technologies.<br>
          <br>
          ####<br>
          About Mitsubishi Chemical Advanced Materials<br>
          Mitsubishi Chemical Advanced Materials (Formerly known as Quadrant) is the leading global manufacturer of
          high-performance thermoplastic materials in the form of semi-finished products and finished parts. The company has
          locations in 20 countries and more than 2,800 employees. Its specialty engineering thermoplastics and composites are
          superior in performance to metals and other materials and are used in a wide range of applications, primarily in the
          capital goods industry. The company is continuously developing new areas of applications in close cooperation with
          industry leaders in a broad variety of customer markets. For more information, please visit www.mcam.com.<br>
          <br>
          About Advanced Polymer Technologies<br>
          Advanced Polymer Technologies (APT) was founded in 2002 by Steve Kessler in Stockton, CA for the manufacturing of
          engineering plastic stock shapes for machined parts. With a recent relocation in 2013 to a new facility, covering 60,000
          square feet, they continue to deploy the newest process technologies in order to produce the highest quality of extruded
          stock shapes, developed under the SEMILON trade name. For more information, please visit aptllc.net
        </p>
      </div>
      <a href="/" class="mcam-cta-icon mcam-cta-icon--back">
        <svg class="icon icon-chevron">
          <use xlink:href="/symbol-defs.svg#icon-chevron"></use>
        </svg>
        <span class="mcam-cta-icon__link">Go back to homepage</span>
      </a>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--stories">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <p class="mcam-headline-2">More articles</p>
      <div class="mcam-section-article__stories">
        {{#each otherArticles}}
        <div class="mcam-card-news">
          <a href="/articles/{{ url }}.html">
            <picture class="mcam-card-news__picture">
              <source srcset="./img/{{ thumbnail }}-mobile.jpg" media="(max-width: 767px)">
              <img src="./img/{{ thumbnail }}-desktop.jpg" />
            </picture>
          </a>
          <div class="mcam-card-news__content">
            <p class="mcam-card-news__content-date">{{ date }}</p>
            <a href="/articles/{{ url }}.html">
              <p class="mcam-card-news__content-title">{{ title }}</p>
            </a>
          </div>
          <a href="/articles/{{ url }}.html" class="mcam-cta-icon">
            <svg class="icon icon-chevron">
              <use xlink:href="/symbol-defs.svg#icon-chevron"></use>
            </svg>
            <span class="mcam-cta-icon__link">Read the article</span>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{#> partials/contact-form}}{{/partials/contact-form}}

  <footer class="mcam-layout-footer">
    <div class="mcam-layout-footer__columns">
      <div class="mcam-layout-footer__inner">
        <div class="mcam-layout-footer__column">
          <a href="/" class="mcam-layout-footer__logo">
            <img src="./img/logo_mcam.svg" alt="Logo MCAM">
          </a>
          <p>Mitsubishi Chemical Advanced Materials delivers product and application solutions to all leading industries
            around the
            world.</p>
          <a href="https://mcam.com">Visit mcam.com</a>
        </div>
        <div class="mcam-layout-footer__column">
          <p class="mcam-layout-footer__title">Our industries</p>
          <ul>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Oil & Gas / CPI</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Aerospace & Defense</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Alternative Energy</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Architectural</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Automotive</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Building & Construction</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Food & Beverage</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Heavy Equipment</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Industrial Equipment</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Medical & Life Science</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Recreational Vehicles</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Semiconductor & Electronics</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Sports & Leisure</a></li>
            <li class="mcam-layout-footer__item"><a href="http://mcam.com">Transportation</a></li>
          </ul>
        </div>
        <div class="mcam-layout-footer__column">
          <p class="mcam-layout-footer__title">Contact us</p>
          <a href="" class="mcam-cta-icon">
            <svg class="icon icon-mail">
              <use xlink:href="/symbol-defs.svg#icon-mail"></use>
            </svg>
            <span class="mcam-cta-icon__link">Reach out to one of our Oil<br>& Gas experts</span>
          </a>
        </div>
      </div>
    </div>
    <div class="mcam-layout-footer__copyright">
      <div class="mcam-layout-footer__inner">
        <ul>
          <li class="mcam-layout-footer__item"><a href="/privacy-policies.html">Privacy policies</a></li>
          <li class="mcam-layout-footer__item"><a href="/legal.html">Legal</a></li>
          <li class="mcam-layout-footer__item"><a href="/sitemap.html">Sitemap</a></li>
        </ul>
        <p>MCAM® 2019 - All rights reserved</p>
      </div>
    </div>
  </footer>
</body>

</html>