{{#> partials/html-header }}{{/partials/html-header}}

<body class="mcam-page mcam-page--story mcam-page--story1">

  {{#> partials/header}}{{/partials/header}}

  <div class="mcam-layout-section mcam-layout-section--intro">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <div class="mcam-section-article">
        <div class="mcam-section-article__head"><span>Client story | </span>{{ date }}</div>
        <h1 class="mcam-section-article__title mcam-headline-1">{{ title }}</h1>
        <div class="mcam-section-article__author mcam-block-author">
          <picture class="mcam-block-author__photo">
            <img data-src="/img/{{ authorImg }}" class="lazy" alt="{{ authorName }}">
          </picture>
          <span class="mcam-block-author__name">{{ authorName }}</span>
          <span class="mcam-block-author__job">{{ authorJob }}</span>
        </div>
        <p class="mcam-block-author__description">Two sets of Duratron PAI labyrinth seals that were used in a natural gas compressor at a leading OEM still performed as if they were brand new after 11 and 15 years in production.</p>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--image">
    <div class="mcam-layout-section__inner">
      <picture>
        <source data-srcset="/img/{{ img }}-mobile.jpg" media="(max-width: 767px)">
        <source data-srcset="/img/{{ img }}-tablet.jpg" media="(max-width: 1023px)">
        <img data-src="/img/{{ img }}-desktop.jpg" class="lazy" alt="{{ title }}" />
      </picture>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--content">
    <div class="mcam-layout-section__inner">
      <div class="mcam-section-article__content">
          <h2 class="mcam-section-article__content-title mcam-headline-3">Context</h2>
          <p class="mcam-body-text">
          For over 20 years, Mitsubishi Chemical Advanced Materials has supplied advanced thermoplastic materials to replace
          aluminum and other metals for use in turbo-compressor labyrinth seals. One of the advantages ofpolymer seals is that
          metal tooth deformation and mating shaft damage during shaft rubsis eliminated. This results in in extreme improvement in
          overall compressor efficiency over the life of the seals, because initial clearances can be tightened and the loss of
          clearance over time is reduced. Another advantage of polymer sealsis that mean time between repair (MTBR) is drastically
          reduced, because the seals maintain their high performance even after many years in service.<br>
          <br>Mitsubishi Chemicals
          Advanced Materials provided labyrinth seals to a leading OEM and tested two seal sets after they were pulled out of
          service after 11 and 15 years. The tests resulted in mechanical property data that shows the performance of the Duratron
          T4540 PAI seals (made with Torlon resin) after 11 years and 15 years in service comparedto new “off-the-shelf” Duratron
          T4540PAI. During their time in service, the first seal set was exposed to temperatures between 47 and 60 °C, the second to
          temperatures between 31 and 45 °C.<br>
          <br>Visually, the seals were fine, with the exception of damage obtained during the
          removal process. They each exhibited some form of damage ranging from a few gouges to being completely broken apart.
        </p>
        <div class="mcam-section-article__captions">
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-1.jpg" class="lazy" alt="Returned Seals – 11 years" />
              <figcaption><strong>Picture 1 : </strong>Returned Seals – 11 years</figcaption>
            </figure>
          </div>
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-2.jpg" class="lazy" alt="Returned Seals – 11 years" />
              <figcaption><strong>Picture 2 : </strong>Returned Seals – 11 years</figcaption>
            </figure>
          </div>
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-3.jpg" class="lazy" alt="Returned Seals – 15 years" />
              <figcaption><strong>Picture 3 : </strong>Returned Seals – 15 years</figcaption>
            </figure>
          </div>
        </div>
        <h2 class="mcam-section-article__content-title mcam-headline-3">Evaluation</h2>
        <p class="mcam-body-text">
          To evaluate the integrity of the Duratron T4540 PAI seals, a few typical mechanical properties of the returned seals were
          compared to those of standard in-stock Duratron T4540 PAI. Only one seal, the (initial set B-case, 2nd wheel), was large
          enough to allow full-sized tensile test bars to be machined, providing tensile properties including strength, modulus,
          and elongation values. Other mechanical properties were also evaluated, including compressive strength and modulus but
          due to the limited sample size of the other smaller cross-section seals, only compressive test samples could be machined
          and tested.<br>
          <br>
          For the single seal in the 15-year second set, a full complement of testing was conducted except for the
          Tensile Modulus value that wasn’t obtained because the material couldn’t yield a full-size tensile bar.<br>
          <br>
          The property values from the in-service Duratron T4540 PAI were then compared to a baseline set of data. The T4540 baseline values
          were obtained from recent compression molded tubular bars representing the same production process as the returned
          “older” samples. Two tubes were pulled from production and test plaques were machined, tested, and results documented
          (18” OD x 11” ID x 6” L and 12” OD x 3.5” ID x 6” L).<br>
          <br>
          Table 2 below details the results of the mechanical property
          testing for both, the 11 year and 15 year in-service, polymer labyrinth seals.
        </p>
        <h2 class="mcam-section-article__content-title mcam-headline-3">Results</h2>
        <div class="mcam-section-article__table">
          <img data-src="/img/client-story-1-table.jpg" class="lazy" alt="table">
          <div class="mcam-section-article__table-legend">
            <p class="mcam-section-article__table-title"><strong>Table 2: </strong><span>Mechanical property test results</span></p>
            <p><strong>(1) MCAM Production Sample data</strong> based on averages between 18" x 11" x 6" and 12" x 3.5" x 6" tubular bars.</p>
            <p><strong>(2) B-Case</strong>, 2nd wheel was the only component large enough to allow for a full-sized machined Tensile Bar, which allowed
            for tensile strength, elongation, and modulus data. As a result, only compressive data was generated on the other
            samples.</p>
          </div>
        </div>
        <p class="mcam-body-text">
          Overall, the property values ofboth the 11-year and 15-year old Duratron T4540 PAI compressor seals compared quite nicely 
          to typical data for this product.<br>
          <br>
          For the 11-year old seals, the tensile strengthand elongation properties of the B-Case 
          sample were a little lower than baseline, but the tensile modulus was higher.  This can be attributed to slight embrittlement of the product in service.  
          The flexural and compressive properties were higher than current production which can also be attributed to the same reason.
          The Tg or glass-transition temperature of the 11-year old material remained steady at 280 oC which shows no major degradation 
          of the polymeric structure. Also for these seals, the compressive strength and modulus values were tightly packed and within a 7% spreadshowing 
          good data integrity amongst the returned seals.<br>
          <br>
          For the 15-year old seal, both tensile and compressive data compared very well to baseline 
          values including the tensile elongation. Flexural strength was less than baseline while flexural modulus was above baseline, however, 
          the data was within acceptable variation considering the age of the polymer.
        </p>
        <div class="mcam-section-article__captions">
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-4.jpg" class="lazy" alt="B-Case 2nd Wheel Shaft Seal" />
              <figcaption><strong>Picture 3 : </strong>B-Case 2nd Wheel Shaft Seal</figcaption>
            </figure>
          </div>
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-5.jpg" class="lazy" alt="C-Case 4th Wheel Shaft Seal" />
              <figcaption><strong>Picture 4 : </strong>C-Case 4th Wheel Shaft Seal</figcaption>
            </figure>
          </div>
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-6.jpg" class="lazy" alt="C-Case 5th Wheel Impeller Seal" />
              <figcaption><strong>Picture 5 : </strong>C-Case 5th Wheel Impeller Seal</figcaption>
            </figure>
          </div>
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-7.jpg" class="lazy" alt="C-Case 7th Wheel Shaft Seal" />
              <figcaption><strong>Picture 6 : </strong>C-Case 7th Wheel Shaft Seal</figcaption>
            </figure>
          </div>
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-8.jpg" class="lazy" alt="C-Case 5th Wheel (possibly) Shaft Seal" />
              <figcaption><strong>Picture 7 : </strong>C-Case 5th Wheel (possibly) Shaft Seal</figcaption>
            </figure>
          </div>
          <div class="mcam-card-image">
            <figure class="mcam-card-image__picture">
              <img data-src="/img/article-1-image-9.jpg" class="lazy" alt="8th Stage - 2nd Wheel Shaft Seal" />
              <figcaption><strong>Picture 8 : </strong>8th Stage - 2nd Wheel Shaft Seal</figcaption>
            </figure>
          </div>
        </div>
        <h2 class="mcam-section-article__content-title mcam-headline-3">Conclusion</h2>
        <p class="mcam-body-text">
          After both 11 and 15years of service in a natural gas compressor, the integrity of the Duratron T4540 PAI seals appears to be very similar to current production.
        </p>
      </div>
      <div class="mcam-section-article__content">
        <div class="mcam-card-author">
          <div class="mcam-card-author__content">
            <div class="mcam-block-author">
              <picture class="mcam-block-author__photo">
                <img data-src="/img/{{ authorImg }}" class="lazy" alt="{{ authorName }}" />
              </picture>
              <span class="mcam-block-author__name">{{ authorName }}</span>
              <span class="mcam-block-author__job">{{ authorJob }}</span>
            </div>
          </div>
          <div class="mcam-card-author__more">
            <a href="#author" class="mcam-cta-icon">
              <svg class="icon icon-info">
                <use xlink:href="/symbol-defs.svg#icon-info"></use>
              </svg>
              <span class="mcam-cta-icon__link">More about him</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mcam-layout-section mcam-layout-section--stories">
    <div class="mcam-layout-section__inner mcam-layout-section__inner--small">
      <h3 class="mcam-headline-2">More client stories</h3>
      <div class="mcam-section-article__stories">
        {{#each otherStories}}
        <div class="mcam-card-news">
          <a href="/client-stories/{{ url }}.html">
            <picture class="mcam-card-news__picture">
              <source data-srcset="/img/{{ img }}-mobile.jpg" media="(max-width: 767px)">
              <img data-src="/img/{{ img }}-desktop.jpg" class="lazy" alt="{{ title }}" />
            </picture>
          </a>
          <div class="mcam-card-news__content">
            <p class="mcam-card-news__content-date">{{ date }}</p>
            <a href="/client-stories/{{ url }}.html">
              <p class="mcam-card-news__content-title">{{ title }}</p>
            </a>
          </div>
          <a href="/client-stories/{{ url }}.html" class="mcam-cta-icon">
            <svg class="icon icon-chevron">
              <use xlink:href="/symbol-defs.svg#icon-chevron"></use>
            </svg>
            <span class="mcam-cta-icon__link">Read the article</span>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div id="author" class="mcam-layout-section mcam-layout-section--author">
    <div class="mcam-layout-section__inner">
      <div class="mcam-section-author">
        <div class="mcam-section-author__left">
          <div class="mcam-block-author">
            <div class="mcam-block-author">
              <picture class="mcam-block-author__photo">
                <img data-src="/img/{{ authorImg }}" class="lazy" alt="{{ authorName }}" />
              </picture>
              <span class="mcam-block-author__name">{{ authorName }}</span>
              <span class="mcam-block-author__job">{{ authorJob }}</span>
              <p class="mcam-block-author__description">My role is to support the global commercial teams with market knowledge and
                guidance, technical applications and support
                by educating those customers on advanced engineered materials for various Oil & Gas applications for land and/or
                subsea.
                Subsequently, I work directly with global OEM’s to understand their markets & products for the near term and future
                projects while connecting those opportunities with Mitsubishi Chemical Advanced Materials polymer materials to improve
                the performance, reduce cost, and enhance their knowledge and use of engineered polymers.
              </p>
              <a href="/contact.html" class="mcam-cta-icon">
                <svg class="icon icon-mail">
                  <use xlink:href="/symbol-defs.svg#icon-mail"></use>
                </svg>
                <span class="mcam-cta-icon__link">Get in touch with Frank</span>
              </a>
            </div>
          </div>
        </div>
        <div class="mcam-section-author__right">
          <div class="mcam-block-tuned">
            <p class="mcam-block-tuned__title mcam-headline-3">Stay tuned for more client stories</p>
            <p class="mcam-body-text">Sign up to receive updates and join our subscribers to that see what's new!</p>
            <form action="https://gmail.us3.list-manage.com/subscribe/post?u=74715211fe9794288bb7785c3&amp;id=87bd74b457"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank"
              novalidate>
              <div id="mc_embed_signup_scroll">
                <fieldset class="mcam-fieldset mcam-fieldset--cta">
                  <input type="email" value="" name="EMAIL" class="mcam-fieldset__input email" id="mce-EMAIL" placeholder=""
                    required>
                  <label class="mcam-fieldset__label" for="mce-EMAIL">
                    <span class="mcam-fieldset__label-content">Email address</span>
                  </label>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_74715211fe9794288bb7785c3_87bd74b457" tabindex="-1" value="">
                  </div>
                  <div class="mcam-cta">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                      class="mcam-cta__link button">
                  </div>
                </fieldset>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{#> partials/contact-form}}{{/partials/contact-form}}

  {{#> partials/footer}}{{/partials/footer}}
  
</body>
</html>